@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body{
    font-family: monospace, sans-serif;
}